/* Insert your styles here */
body{
    /* Creative Commons image sourced from https://www.pexels.com/photo/architecture-room-indoors-auditorium-109669/ and used for educational purposes only */
    background-image: url(media/website-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container{
    font-family: 'Montserrat', sans-serif;
    background-color:#606060;
    color: white;
}
#logo{

    height: 150px;
    width: 150px;
}
.jumbotron{
    /* Creative Commons image sourced from https://www.pexels.com/photo/architecture-building-business-cinema-436413/ and used for educational purposes only */
    background-image: url(media/jumbotron-background.jpg);
    background-size: cover;
    background-position: 0 50%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    text-align: center;
}
#company-name{
    font-size: 60px;
    color: white;
    margin-bottom: 0px;
}
.head-strip {
    background: url(media/filmstrip.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 30px;
    opacity: 0.8;
}
.navbar {
    background-color: #202020;
}
.btn.btn-primary {
    font-family: "Roboto Slab";
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    margin: 10px;
}
.btn.btn-primary:hover {
    font-family: "Roboto Slab";
    font-weight: bold;
    color: #C00000;
    border: 2px;
    border-style: dashed;
    border-color: black;
    background-color: #E0E0E0;

}
.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:active:focus {
    font-family: "Roboto Slab";
    background: #757575;
    background-color: #757575;
    color: #1b1b1b;
    border: transparent;
}
#about-us-header{
     /* Creative Commons image sourced from https://www.pexels.com/photo/people-sitting-on-gang-chairs-2774556/ and used for educational purposes only */
    background-image: url(media/about-us-header-img.jpg);
    
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 2500px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);

    text-align: center;
    color: white;
    padding: 60px;
}
#showing-header, #pricing-header {
    font-family: "Bungee Outline";
    text-align: center;
    color: #C00000;
    padding: 30px;
    background-image: url(media/cinema-sign.png);
    background-size: auto 100%;
    opacity: 0.9;
}
#movie-icon, #tickets-icon {
    vertical-align: baseline;
}
#tickets-icon {
    rotate: -30deg;
}
@media screen and (min-width: 901px) {
    #showing-header, #pricing-header {
        font-size: 70px;
    }
    #movie-icon, #tickets-icon {
        height: 60px;
    }
    #TopBtn {
        width: 70px;
    }
}
@media screen and (max-width: 900px) and (min-width: 601px) {
    #showing-header, #pricing-header {
        font-size: 60px;
    }
    #movie-icon, #tickets-icon {
        height: 50px;
    }
    #TopBtn {
        width: 60px;
    }
}
@media screen and (max-width: 600px) {
    #showing-header, #pricing-header {
        font-size: 40px;
    }
    #movie-icon, #tickets-icon {
        height: 40px;
    }
    #TopBtn {
        width: 50px;
    }
}
#About-us, #now-showing, #pricing {
    background-color: #202020;
    padding: 30px;
}
#break {
    background: url(media/camera-film-re.png);
    background-repeat: repeat-x;
    background-size: contain;
    height: 30px;
    opacity: 0.8;
}
.card {
    border-style: groove;
    border-width: 5px;
    border-color: #202020;
    padding: 5px;
    background-color: #E0E0E0;
}
.card-title, .card-text {
    font-family: "Roboto Slab";
    color: black;
    text-align: center;
}
.card-title {
    font-weight: bold;
}
.movie-rating {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#TopBtn {
    position: fixed;
    bottom: 0px;
    float: right;
    right: 0px;
    left: 90%;
}
#pricing-header {
    text-align: center;
}
#price-table {
    text-align: center;
}
.price-heading {
    font-weight: bold;
}